.Footer {
    height: 0px;
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;   
    margin-top: 0px;
    margin-bottom: 0px;
  }
/* 
  .footer-dark{
    height: 0px;
    position: relative;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;   
    margin-top: 0px;
    margin-bottom: 0px;
  } */
  #darkk {
    color: white;
  }

.footerText{
  font-size: 20px;
  background-color: transparent;
}
.footerText:hover{
  color: white;
}

#dark{
  color:white
}